.indentleft
  =form_for(@job) do |j|
    .form-group
      =j.label "Stanowisko"
      .input-group
        =j.text_field :name, class: "form-control"
        %span.input-group-btn
          =j.submit "Dodaj", class: "btn btn-primary"