#req-form
  %h3 Wymagania
  -@requirements.each do |e|
    %form{action: "/requirements/update", method: "post", "data-remote" => "true"}
      .form-group.indentleft
        =hidden_field_tag "authenticity_token", form_authenticity_token
        =hidden_field_tag  "req_id", e.id
        =hidden_field_tag  "job_id", @job.id
        .input-group
          %input.form-control{name: "name", value: e.name}
          %span.input-group-btn
            =link_to 'usuń', {controller: "requirements", action: "destroy", id: e.id, job_id: @job.id}, method: "delete", data: {confirm: "Na pewno?"}, remote: true, class: "btn btn-delete"
            %button.btn.btn-primary{type: "submit"} zapisz
  %form{action: "/requirements/create", method: "post", "data-remote" => "true"}
    .form-group.indentleft
      =hidden_field_tag "authenticity_token", form_authenticity_token
      =hidden_field_tag  "job_id", @job.id
      .input-group
        %input.form-control{name: "name", placeholder: "wpisz nowe wymaganie..."}
        %span.input-group-btn
          %button.btn.btn-primary{type: "submit"} dodaj