.container
  %h3 Oferta Pracy
  =form_for(@job) do |j|
    .form-group
      =j.label "Stanowisko"
      =j.text_field :name, class: "form-control"
      =j.submit "Dodaj", class: "btn btn-submit"
  =render 'requirements'
