.container
  %h1 Twoje dane:
  %h3 Email:
  %h2 #{current_user.email}
  %h3 Imię:
  %h2 #{current_user.name}
  %h3 Nazwisko:
  %h2 #{current_user.surname}
  %h3 Telefon:
  %h2 #{current_user.telephone}
  %a{:href => edit_user_registration_path} Edytuj