.container
  - if current_user
    %h3
      Witaj, #{current_user.email}
    %br/
    %br/
    .h2.text-center
    = button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary"

  - else
    %h1
      Witaj, nieznajomy!
    %h2
      Serwis dostępny tylko dla zarejestrowanych użytkowników