.container
  %h2 Sign up
  %form#company-form{action: "/companies/create", method: "post"}
    =hidden_field_tag "authenticity_token", form_authenticity_token
    .form-group
      %label company name
      %input.form-control{name: "company_name"}
    .form-group
      %label description
      %input.form-control{name: "company_description"}
    .form-group
      %label contact name
      %input.form-control{name: "contact_name"}
    .form-group
      %label contact surname
      %input.form-control{name: "contact_surname"}
    .form-group
      %label contact telephone
      %input.form-control{name: "contact_telephone"}
    .form-group
      %label company address
      %input.form-control{name: "company_address"}
    .form-group
      %label company address2
      %input.form-control{name: "company_address2"}
    .form-group
      %label email
      %input.form-control{"data-bv-emailaddress" => "true", "data-bv-emailaddress-message" => "Please enter a valid e-mail adress", "data-bv-notempty" => "true", "data-bv-notempty-message" => "The email address is required and cannot be empty", name: "email", type: "text", placeholder: "Your email address", class: 'wide-field'}/
    .form-group
      %label password
      %input.form-control{autocomplete: "off", name: "password", type: "password"}
    .form-group
      %label confirm password
      %input.form-control{autocomplete: "off", name: "confirmPassword", type: "password"}
    %button.btn.btn-primary{type: "submit"} Register
:javascript
  $(document).ready(function() {
      validate('#company-form');
  });