.container
  %h3 Dane Firmy
  %ul
    %li
      Nazwa:
      =@company.company_name
    %li
      Krótki opis:
      =@company.company_description
  %h3 Dane kontaktowe
  %ul
    %li
      Imię i nazwisko:
      =@company.contact_name
      =@company.contact_surname
    %li
      nr telefonu:
      =@company.contact_telephone
    %li
      Adres:
      =@company.company_address
      %br/
      =@company.company_address2
  %h3 Oferty firmy
  %ul
    -@jobs.each do |j|
      %li.form-inline
        -if current_user.company.id == @company.id
          =link_to j.name, edit_job_path(j.id)
        -else
          =link_to j.name, job_path(j.id)
