#cv-form
  =form_for((@cv), remote: true) do |c|
    .form-group
      %h3 Dane osobowe
      .indentleft
        =hidden_field_tag "cv_id", @cv.id
        =c.label "Data urodzenia:"
        =c.date_field :birthdate, class: "form-control", value: current_user.employee.cv.birthdate
        =c.label "Miejscowość:"
        =c.text_field :location, class: "form-control", value: current_user.employee.cv.location
        =c.label "email:"
        =c.text_field :email, class: "form-control", value: current_user.employee.cv.email
        =c.label "nr telefonu:"
        =c.text_field :telephone, class: "form-control", value: current_user.employee.cv.telephone
        =c.submit "Zapisz", class: "btn btn-primary"