#alert-shade-div.alert-shade
  .alert-content
    %p.text-center.text-middle-horizontal
      - if alert.class == String
        Error: #{"#{alert}"}
      - else
        %ul.text-center.text-middle-horizontal
          - alert.each do |a|
            %li
              = a
    %button.btn.alert-button.alertpop-button{onclick: "hideElement('alert-shade-div')"} hide