#alert-shade-div.alert-shade
  .alert-content
    %p.text-center.text-middle-horizontal
      Notice: #{"#{notice}"}
    %button.btn.alert-button.alertpop-button{onclick: "hideElement('alert-shade-div')"} hide